<!DOCTYPE html>
<html>
    <head>
        <style>
            body{
                /*background-image: url("https://www.pixelstalk.net/wp-content/uploads/2016/07/Weather-Background-HD.jpg");
                background-repeat: no-repeat;
                background-attachment: fixed;*/
                background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

            }  
            .main{
                position: relative;
                margin-top: 10%;
                margin-left: 35%;
            } 
            a{
                text-decoration: none;
                color: black;
            }
            button{
                border-radius: 25px;
            }

        </style>

    </head>
        <body>
            <div class="main">
            <h2>Welcome to Weather forecast</h2>
            <button><a href="http://localhost:3000/firstpage/register">Signup</a></button><br><br>
            <button><a href="http://localhost:3000/firstpage/login">Login</a></button>
            </div> 
            
        </body>
</html>